.LegsFinderContainer {
    padding: 10px;
    text-align: center;
}

.legsFinder_form {
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

.legsFinder_field {
    padding-left: 7px;
    border-radius: 4px;
    border: 0.5px solid hsl(0, 0%, 80%);
    transition: 0.3s;
}
.legsFinder_field:hover {
    cursor: pointer;
    border-color: hsl(0, 0%, 63%);
}

.legsFinder_field[type="date"] {
    color: rgb(82, 82, 247);
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


.controlPanel {
    margin: 30px auto;
    width: 270px;
    display: flex;
    justify-content: space-between;
}