@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&family=Poppins&family=Roboto&display=swap');

.button {
    text-decoration: none;
    display: inline-block;
    /* padding: 8px 30px; */
    width: 120px;
    height: 35px;
    border-radius: 3px;
    border: none;
    background-image: linear-gradient(45deg, #7696ff 0%, #98d8fa 50%, #2e73fd 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    box-shadow: 0 5px 15px 0 rgba(0, 82, 247, 0.35);
    transition: .3s;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}

.button:active {
    border: 1px solid rgb(119, 119, 250);
}