@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&family=Poppins&family=Roboto&display=swap');

.legs {
    padding: 10px;
}

.lastLegsContainer {
    border: 1px solid rgb(195, 195, 255);
    padding: 10px;
}

.lastLegsContainerTitle {
    text-align: center;
    color: rgb(119, 119, 250);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

.last_legs_block {
    border: 1px solid rgb(195, 195, 255);
    min-height: 40px;
}

.leg_block {
    background-color: bisque;
}