.header {
    grid-area: header;
    border: 1px solid rgb(195, 195, 255);
    box-shadow: 5px 5px rgb(234, 234, 252);
}

.header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    width: 15%;
    display: flex;
    justify-content: center;
}

.logoContainer img {
    width: 90px;
}

.acData {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.acDataItem {
    width: 90px;
    color: rgb(119, 119, 250);
    font-weight: 700;
}
.acDataItem span:last-child {
    margin-left: 5px;
}

.navMenu {
    width: 55%;
}
