@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&family=Poppins&family=Roboto&display=swap');

.auth {
    border: 1px solid rgb(195, 195, 255);
    box-shadow: 5px 5px rgb(234, 234, 252);
    width: 320px;
    padding: 20px;
    margin: 180px auto 0;
}

.form {
    width: 230px;
    margin: 0 auto;
    /* border: 1px solid rgb(195, 195, 255); */
}

.form h2 {
    margin: 0;
}

.field_block {
    margin: 10px auto;
    display: inline-block;
    color: rgb(119, 119, 250);
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    align-items: center;
}

.addFormControlPanel {
    margin: 10px auto 0px;
    width: 100px;
}


.link_block {
    margin: 20px 0px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: rgb(119, 119, 250);
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.label_wrap {
    margin-bottom: 4px;
    text-align: start;
}

.rem_block {
    margin: 10px 0 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rem_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rem_wrap label {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}